@media screen and (max-width:576px) {

    /* nav style  */
    .ham{
        display: inline-block;
        width: 20.5px;
        height: 15px;

    }
    .logo h1{
        display: none;
    }
    .nav ul{
        display: none;
    }
    .contact{
        display: none;
    }
    .nav{
        width: 90vw;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner img{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .banner-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner-cont p{
        width: 90vw;
        text-align: center;
    }
    .banner-cont h1{
        text-align: center;
        width: 90vw;
        font-size: 2.5rem;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cd{
        width: 90vw;
    }

    .cd p{
        width: 80vw;
    }

    .sec2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .sec2 h1{
       width: 90vw;
       margin-left: auto;
       margin-right: auto;
    }

    .grids{
        gap: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .cild{
        display: none;
    }

    .all{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        width: 90vw;

    }
    .divs{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
    
        width: 90vw;
    }
    .allc{
        width: 45vw;
    }
    .alcont{
        width: 30vw;
    }

    .alcont button{
        width: 80%;
        margin-bottom: 10px;
    }

    .sec2 h2{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .allc button{
        font-size: 12px;
    }
  
}